
::-webkit-scrollbar {
	width:5px;
	border: 1px solid hsl(0,0%,27%);
	border-top: 0;border-bottom: 0;
}
/*::-webkit-scrollbar-button {background-color:rgba(26,26,26,1);}*/
::-webkit-scrollbar-track {
	background-color:hsl(0,0%,27%);
}
::-webkit-scrollbar-thumb {
	background-color: hsl(0,0%,60%);
	border: 1px solid hsl(0,0%,40%);
}
::-webkit-scrollbar-corner {background-color:rgba(26,26,26,1);}
.input-group .form-control, .form-control {
	background-color: hsl(0, 0%, 24%)!important;
	border: 1px solid hsl(0, 0%, 31%);
	border-radius: 0;
	color: hsl(0, 0%, 63%);
}
.input-group .input-group-btn, .input-group .input-group-btn button {
	background: hsl(0, 0%, 31%);
	border-radius: 0;
	border: 0;
	box-shadow: inset 0px 0px 10px -1px hsl(0, 0%, 10%);;
}
.btn-default[disabled], .btn.disabled, .btn[disabled], fieldset[disabled] .btn {opacity: 0.63}
.input-group .input-group-btn button:hover {
	background: hsl(0, 0%, 24%);
}
input[type="checkbox"] {
	border: 1px solid hsl(0, 0%, 31%);
	width: 15px;
	height: 15px;
	margin-bottom: 10px;
	top: -1px;
	background: transparent;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance:none;
}
input[type="checkbox"]:checked {background: hsl(0,0%,5%)}
input[type="checkbox"]:checked:after {
	content: "■";
	width: 9px;
	height: 9px;
	position: absolute;
	margin-top: 2px;
	margin-left: 2px;
	color: transparent;
	font-size: 0;
	background: hsl(0,0%,31%);
}
.checkbox {
	color: hsl(0, 0%, 56%);
}
/*.label {
	border-radius: 0;
	background: none;
}
.label-success {
	background: hsl(0,0%,20%);
}*/
.alert {
	border-radius: 0;
	margin-bottom: 9px;
}
.well {
	padding: 15px;
	background-color: hsl(0,0%,12%);
	border: 1px solid hsl(0,0%,18%);
	border-radius: 0;
	margin-bottom: 9px;
	box-shadow: none;
}
#wrap {
	background: hsl(0,0%,6%);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>button:hover {
	text-decoration: none;
	color: #fff;
	background: #2a9fd6;
}
.dropdown-menu>li>button {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background: none;
	border: 0;
	border-radius: 0;
	white-space: nowrap;
}
/*Positioning*/
#wrap{padding: 0;}
#motdrow {
	width: 100%;
	margin: 0;
}
#motdrow .col-lg-12{
	width: 100%;
	padding: 0;
}
#announcements,.container-fluid .col-md-12,#motd .text-center {
	width: auto;
}
.row:after{
		clear: none;
}
.container-fluid .col-lg-12, .row {
	padding-right: 0;
}
div#videowrap {
	margin-bottom: 9px !important;
	float: none !important;
}
#chatwrap {
	padding: 0;
}
#mainpage>.container-fluid {
	padding: 0;
	margin: 0 !important;
}
#footer {
	height: 40px;
	float: left;
	width: 100%;
}
@media (min-width: 992px){
	/*chat bar is 38 px high*/
	#messagebuffer {
		height: calc(100% - 59px) !important;
	}
	#userlist {
		height: calc(100% - 59px) !important;

	}
	#chatwrap {
		height: calc(100% - 60px) !important;
	}
	#messagebuffer{
		box-shadow: inset 0 0 50px 0px hsl(0,0%,0%);
	}
	#chatwrap {
		width: 42%;
		float: right;
		display: block;
		position: fixed;
		bottom: 0;
		right: 1px;
		margin-bottom: 0;

	}
	#mainpage>.container-fluid {
		width: 58%;
	}
	.col-md-7 {
		width: 100%;;
	}
	.container-fluid {
		position: fixed;
		overflow-y: scroll;
		overflow-x: hidden;
		height: calc(100% - 60px);
		padding: 0 9px 0 9px !important;
	}
	#footer .container {
		width: 100%;
	}
	#videowrap {
		padding: 0;
		padding-left: 15px;
		padding-right: 15px;
	}
	#leftpane, #leftpane-inner, #pollwrap {
		width: 100%
	}
	#leftpane-inner {
		margin: 0;
	}
	#pollwrap {
		padding: 0;
	}
}

/*Left Container*/
#videowrap .embed-responsive {
	background: hsl(0,0%,0%); /*fixes transparent videos*/
}



/*Chat*/
	div#messagebuffer, div#userlist {
		border: 1px solid hsl(0, 0%, 18%);
		background: hsl(0,0%,12%);
	}
	.nick-hover {
		background-color: hsl(0,0%,5%);
	}
	#chatline {

	}
	/*Userlist*/
	#mainpage #userlist {
		border-top: 0;
	}
	#userlist::-webkit-scrollbar {
		width: 1px;
	}
	#userlist::-webkit-scrollbar-track {
		display: none;
		background: transparent;
		border: 0;
	}
	/*Chat header (time and toggles)*/
	#connected {
		float: left;
		width: 100%;
	}
	#mainpage #chatheader {
		height: 21px;
		width: 100%;
		background-color: hsl(0,0%,12%);
		border: 1px solid hsl(0,0%,18%);
		border-bottom: 0;
	}
		#chatheader span {
			border: 0;
			border-radius: 0;
			padding: 4px 7px 5px;
			background: hsl(0,0%,31%);
		}
		#chatheader span.label-success {
			border-bottom: 2px solid hsl(358, 79%, 45%);
			background: hsl(0,0%,31%);
		}
		#clockstaff {
			float: right;
			border-bottom: 1px solid #fff;
		}
		#emotetoggle, #capturebutton, #jointoggle {
			float: left !important;
		}
	/*Chat bar*/
	#chatline, #guestlogin>input, #guestlogin>.input-group-addon {
		border-radius: 0;
	}

/*Below Video*/
#mainpage .btn:focus {outline: none;}
.textheader {
	font-size: 24px;
}
	p#currenttitle, p.sectionheader {
		font-family: Arial, sans-serif;
		font-size: .9em;
		letter-spacing: -0.03em;
		color: hsl(0, 0%, 63%);
		overflow-x: hidden;
		float: none;
		text-align: left;
		height: auto;
	}
		.section {
		padding: 12px 15px 5px 15px;
		background: hsl(0, 0%, 12%);
		border: 1px solid hsl(0, 0%, 18%);
		border-radius: 0;
		margin-bottom: 9px;
		position: relative;
	}
	/*drinkbar*/
	#drinkbarwrap {
		display: block;
		width: 100%;
		height: auto;
		margin-left: 0;
		padding: 0 15 0 15;
	}
	/*Video Description*/
	div#chatheader, p#currenttitle {
		border: none;
		border-radius: 0;
		background: none;
	}

	/*Header right (Time and progbar)*/
	#headright {
		width: 160px;
		height: 2px;
		background: #ccc;
		float: right;
		position: relative;
		margin-top: -7px;
	}
	#progbar {
		width: 0;
		height: 2px;
		background: #167ac6;
	}
	#ss7time {
		height: 24px;
		position: relative;
		float: right;
		margin-top: -26px;
		vertical-align: bottom;
		font-size: 19px;
		color: hsl(0, 0%, 56%);
		line-height: 24px;
	}
	/*headerbuttons*/
	#headbottom {
		height: 34px;
		margin-top: 9px;
		border-top: 1px solid hsl(0, 0%, 20%);
		padding: 5px 0 0 0;
	}
	#headbottom .headbtn {
		height: 27px;
		background: none;
		color: hsl(0,0%,63%);
		border: none;
		border-radius: 0;
		padding: 5px 0 5px 0;
		box-shadow: none;
		font-family: arial, sans-serif;
		font-size: 14px;
		font-weight: bold;
		vertical-align: initial;
	}
	.headbtnleft {
		margin-right: 20px;
	}
	.headbtn span {top:0;}
	.headbtn:before {
		filter: invert(63%) !important;
		-webkit-filter: invert(63%) !important;
		color: hsl(0,0%,63%);
		font-family: arial, sans-serif;
		font-weight: bold;
	}
	#voteskip {float: right}
	#addmedia:after {content: "Add media";}
	#addmedia:before {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABlJREFUeAFjgAJGRkYoi64ijOiAGJGBdTMAOMcAXg+QicwAAAAASUVORK5CYII=);
		width: 17px !important;
		height: 17px !important;
		margin-right: 6px;
		content: "n";
		display: inline-block;
		color: transparent;
	}
	#newpollbtn:before {
		content: "n";
		color: transparent;
		display: inline-block;
		width: 17px;
		height: 17px;
		margin-right: 6px;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZJREFUeNpiYCAPOAPxZiAWJlM/gxAQPwHi/1DalhxDVkMNgOEdpBqQjGbAWyCWJsUAFSD+jGZIICkGsADxCTQD5pDqjRY0A24DMQ8pBtgA8R8kA34BsSk2hcxAnAPEbGjifEB8H80V1dgMYATi+VAFq6EGwsBSNAMOo8nDwSw0hcugCqPQxN8DsTwuP2cD8T80DWugmpDFoggFXgGaBnS8lNhYKMNhwH1oABMNatEMAHnTl5wM1ohkQBEDBaADGk5EAYAAAwAM71Mk30wOEAAAAABJRU5ErkJggg==);

	}
	#morebtn:after {content: "More";}
	#morebtn:before {
		content: "n";
		color: transparent;
		display: inline-block;
		width: 18px;
		height: 17px;
		margin-right: 6px;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAMAAADnhAzLAAAAElBMVEUAAAD///8AAAAAAAAAAAAAAAD+HpTfAAAABXRSTlMAAAFX7J/vCUYAAAAnSURBVHgBY2DEAAMgxMzCwszAgEKxsLKyMDEgU1A2ExKFRSP9XQ8AEJsBtxxU/nIAAAAASUVORK5CYII=);
	}
	#mediarefresh span {display: none;}

	/*Queue*/
	#queue {
		border: none;
	}
	.queue_entry {
		border: none;
	}
		/*plmeta*/
		#upnext #plmeta, #plcount {
			border: none;
			border-radius: 0;
			background: none;
			height: auto;
			font-size: 14px;
			display: inline;
			color: #c8c8c8;
		}
		#queuecontainer > .textheader {
			width: 100%;
			padding-right: 17px;
		}
		#plmeta:before {content: " ("}
		#plmeta:after {content: ")"}
		#pllength {
			display: none;
		}
		#pldropdown{
			width: 17px;
			height: 17px;
			border: none;
			padding: 0;
			background: none;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALpJREFUeNpiYKAiUAXiLUDsRKR6kLrNUH1g0ATEP4H4PxB/QJbAAVSg6v5D9TUxAYlPQMwGVcAPxNuAWAiHASDx7VB1DFB9n2CSi6Amw/BeJIMZkDTsRVO3CFkBBxCfQFMwA82QGWjyJ6D6UIA0ED9BU1gIlStAEwepk8EVaOZA/B1J8R8g7oHSMLHvUHV4QSyareg4lth0043DgB5SEh8zNCqRDdgOFScJgNLCTagBN5HSxiigFwAIMAA/nEU9cHe3rAAAAABJRU5ErkJggg==);
			background-position: 0 2px;
			-webkit-filter: invert(63%);
			        filter: invert(63%);
			float: right;
			margin: 6px 2px 0 6px;
		}
		#ploptions {
			right: -2px;
			left: initial;
			top: 30px;
		}
		#qlockbtn {margin-top: 6px;}
		#qlockbtn, #qlockbtn span {
			background: none;
			width: 17px;
			height: 17px;
			padding: 0;
			color: transparent;
			border: none;
			top: 0;
			float: right;
		}
		#qlockbtn span:before {
			width: 13px;
			height: 14px;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAVCAYAAADB5CeuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVlJREFUeNpi/P//PwMIMDIyMpALYGZQDYAMxGGoCxCvB+KXQPwPiJ8D8WogtsVlBqWOg5uBxTBmIJ4LUoMHTwAFLj0d1YvmgPNAvAqIT6GJNxDpKFCIr4GG9G8gfgrEy4HYhlhHqQHxX6ilX4HYD02fExB/gMr/AmJpPI4iO8TRDSvDFhJoIBtJTQYeR03AEeLH0cTrCTkKOeoMcThKD0nNFByO0kAK8Z9AHI5mhiM0JmAhLoXPUUpAvBaIm5CDFQ3oIjlqGg5HVSCpacRhTgGSmnRkc1jQyqd7QBxMaq7BUsbJILG34tC2D82jcMDCQBvAhMT+jqsEQFeP7rk+aNz+JwOD9PVDzWlHSiukYpC+NgakdPMXzXekgr/QUP9NYej/AWJWRixBSS5gpJY5TAyDEIw6atRRtHLUPwrN+YNUNFBsDsxRPdBCkByAXHj2U2hOH8NgBQABBgC1sxw2g3lAvAAAAABJRU5ErkJggg==);
			-webkit-filter: invert(63%);
			        filter: invert(63%);
			display: inline-block;
			background-size: 27px;
		}
		#qlockbtn.btn-success span:before {background-position: 0 0}
		#qlockbtn.btn-danger span:before {background-position: -13px 0;}


	/*AddMedia*/
	#rightpane {
		float: none;
		width: auto;
		min-height: 0;
		display: none;
	}
	#rightpane-inner {
		transition: height 0.3s;
	}
	.plcontrol-collapse {
		padding-left: 0;
		float: none;
	}
	#searchcontrol ul {
		width: 100%;
		margin: 0;
	}
	#rightpane-inner .col-md-12 {
		width: 100%;
		padding: 0;
		float: none;
	}
		/*mediabuttons*/
		#mediabuttons {
			border-bottom: 1px solid hsl(0,0%,20%);
		}
		#mediabuttons .btn {
			height: 28px;
			background: none;
			color: hsl(0,0%,50%);
			border: none;
			border-radius: 0;
			padding: 0;
			box-shadow: none;
			margin-right: 20px;
		}
		#mediabuttons .btn span {
			font-family: arial, sans-serif;
			font-size: 15px;
			font-weight: bold;
			color: hsl(0,0%,50%);
		}
		#mediabuttons .btn:not(.collapsed) span {
			color: hsl(0,0%,69%);
		}
		#mediabuttons .btn:not(.collapsed) {
			border-bottom: 2px solid hsl(358, 79%, 45%);
			box-sizing: content-box;
		}
		#showmediaurl span:before {content: "Link"}
		#showcustomembed span:before {content: "Embed"}
		#showsearch span:before {content: "Search"}
		#showplaylistmanager span:before {content: "Playlists"}
	/*controls*/
	#controlsrow {
		width: 100%;
		margin: 0;
		padding: 12px 15px;
		background: hsl(0, 0%, 12%);
		border: 1px solid hsl(0, 0%, 18%);
		border-radius: 0;
		margin-bottom: 9px;
	}
	#controlsrow:after {clear: both;}
	#leftcontrols, #rightcontrols {
		width: auto;

	}
	/*Message of the day*/
	#motdwrap {

	}